<div class="wrapper">
    <nav>
        <header>
            <span></span> Kaushik Mandal
            <!-- <a></a> -->
        </header>

        <ul>
            <li><span>Navigation</span></li>
            <li><a routerLink="dashboard" routerLinkActive>Dashboard</a></li>
            <li><a routerLink="register" routerLinkActive>Cards</a></li>
            <li><a routerLink="login" routerLinkActive>Login</a></li>
            <li><a>Roadmap</a></li>
            <li><a>Milestones</a></li>
            <li><a>Tickets</a></li>
            <li><a>GitHub</a></li>
            <li><a>FAQ</a></li>
            <li><span>Other</span></li>
            <li><a>Search</a></li>
            <li><a>Settings</a></li>
            <li><a>Logout</a></li>
        </ul>
    </nav>

    <main>
        <h1>e-School Welcome</h1>
        <!-- <li *ngFor="let student of students">
            <p>{{ student | json }}</p>
        </li> -->
        <router-outlet></router-outlet>
    </main>
</div>