// @import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
$color: #404040;
$color-d: darken($color,
5%);
$color-l: lighten($color,
7.5%);
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    content: '';
    display: block;
    position: absolute;
}

html,
body {
    height: 100%;
}

body {
    font: 15px/1 'Open Sans', sans-serif;
    color: #777;
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
}

.wrapper {
    display: flex;
    min-height: 100%;
}

nav {
    width: 200px;
    background: $color;
}

nav header {
    position: relative;
    height: 80px;
    padding: 20px 0 0 15px;
    font-size: 16px;
    color: #fff;
    background: $color-d;
}

nav header span {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    border: 1px solid #fff;
}

nav header span:before {
    content: '\f007';
    font: normal 20px fontawesome;
    top: 7px;
    left: 9px;
}

nav header a:before {
    content: '\f08b';
    font: normal 20px fontawesome;
    top: 28px;
    right: 15px;
}

nav ul span {
    display: block;
    padding: 15px;
    color: rgba(255, 255, 255, .5);
    text-transform: uppercase;
    border-bottom: 1px solid $color-d;
}

nav ul a {
    position: relative;
    display: block;
    padding: 15px 15px 17px 50px;
    color: #fff;
    border-bottom: 1px solid $color-d;
}

nav ul a:hover,
nav ul a.active {
    background: $color-l;
}

nav ul a:before {
    font: normal 16px fontawesome;
    top: 15px;
    left: 18px;
}

nav ul li:nth-child(2) a:before {
    content: '\f00a';
}

nav ul li:nth-child(3) a:before {
    content: '\f012';
}

nav ul li:nth-child(4) a:before {
    content: '\f018';
}

nav ul li:nth-child(5) a:before {
    content: '\f024';
}

nav ul li:nth-child(6) a:before {
    content: '\f0c3';
}

nav ul li:nth-child(7) a:before {
    content: '\f09b';
}

nav ul li:nth-child(8) a:before {
    content: '\f0fa';
}

nav ul li:nth-child(10) a:before {
    content: '\f002';
}

nav ul li:nth-child(11) a:before {
    content: '\f085';
}

nav ul li:nth-child(12) a:before {
    content: '\f08b';
}

main {
    flex: 1;
    padding: 25px;
    background: #f5f5f5;
}

main h1 {
    height: 80px;
    margin: -25px -25px 25px -25px;
    padding: 0 25px;
    line-height: 76px;
    font-size: 24px;
    font-weight: 400;
    background: #ddd;
}

.flex-grid {
    display: flex;
}

.flex-grid>div {
    flex: 1;
    margin: 0 20px 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    background: #fff;
}

.flex-grid>div:last-child {
    margin-right: 0;
}

.flex-grid h2 {
    margin: -15px -15px 15px -15px;
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}

.flex-grid li {
    position: relative;
    margin: 0 0 10px;
    padding: 0 0 0 25px;
}

.flex-grid li:before {
    content: '\f00c';
    font: normal 16px fontawesome;
    top: 0;
    left: 0;
    color: #999;
}


/*
** Media Queries
***********************************************************/

@media (max-width: 1000px) {
    .flex-grid {
        flex-direction: column;
    }
    .flex-grid>div {
        margin-right: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #2e2a2a;
    color: #FFF;
    font-size: 62.5%;
    font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
}

ul {
    list-style-type: none;
}

a {
    color: #e95846;
    text-decoration: none;
}

.pricing-table-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.6em;
    color: #FFF;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 25px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table-title a {
    font-size: 0.6em;
}

.clearfix:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    clear: both;
}


/** ========================
 * Contenedor
 ============================*/

.pricing-wrapper {
    width: 960px;
    margin: 40px auto 0;
}

.pricing-table {
    margin: 0 10px;
    text-align: center;
    width: 300px;
    float: left;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.pricing-table:hover {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
}

.pricing-title {
    color: #FFF;
    background: #e95846;
    padding: 20px 0;
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table.recommended .pricing-title {
    background: #2db3cb;
}

.pricing-table.recommended .pricing-action {
    background: #2db3cb;
}

.pricing-table .price {
    background: #403e3d;
    font-size: 3.4em;
    font-weight: 700;
    padding: 20px 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table .price sup {
    font-size: 0.4em;
    position: relative;
    left: 5px;
}

.table-list {
    background: #FFF;
    color: #403d3a;
}

.table-list li {
    font-size: 1.4em;
    font-weight: 700;
    padding: 12px 8px;
}

.table-list li:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #3fab91;
    display: inline-block;
    position: relative;
    right: 5px;
    font-size: 16px;
}

.table-list li span {
    font-weight: 400;
}

.table-list li span.unlimited {
    color: #FFF;
    background: #e95846;
    font-size: 0.9em;
    padding: 5px 7px;
    display: inline-block;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
}

.table-list li:nth-child(2n) {
    background: #F0F0F0;
}

.table-buy {
    background: #FFF;
    padding: 15px;
    text-align: left;
    overflow: hidden;
}

.table-buy p {
    float: left;
    color: #37353a;
    font-weight: 700;
    font-size: 2.4em;
}

.table-buy p sup {
    font-size: 0.5em;
    position: relative;
    left: 5px;
}

.table-buy .pricing-action {
    float: right;
    color: #FFF;
    background: #e95846;
    padding: 10px 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 1.4em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.table-buy .pricing-action:hover {
    background: #cf4f3e;
}

.recommended .table-buy .pricing-action:hover {
    background: #228799;
}


/** ================
 * Responsive
 ===================*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .pricing-wrapper {
        width: 768px;
    }
    .pricing-table {
        width: 236px;
    }
    .table-list li {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 767px) {
    .pricing-wrapper {
        width: 420px;
    }
    .pricing-table {
        display: block;
        float: none;
        margin: 0 0 20px 0;
        width: 100%;
    }
}

@media only screen and (max-width: 479px) {
    .pricing-wrapper {
        width: 300px;
    }
}