<div class="wrapper">
    <nav>
        <header>
            <span></span> John Doe
            <a></a>
        </header>

        <ul>
            <li><span>Navigation</span></li>
            <li><a class="active">Dashboard</a></li>
            <li><a>Statistics</a></li>
            <li><a>Roadmap</a></li>
            <li><a>Milestones</a></li>
            <li><a>Tickets</a></li>
            <li><a>GitHub</a></li>
            <li><a>FAQ</a></li>
            <li><span>Other</span></li>
            <li><a>Search</a></li>
            <li><a>Settings</a></li>
            <li><a>Logout</a></li>
        </ul>
    </nav>

    <main>
        <h1>e-School Welcome</h1>
        <div class="flex-grid">
            <div class="pricing-table">
                <h3 class="pricing-title">ADMIN</h3>
                <ul class="table-list">
                    <li>View features</li>
                </ul>
                <div class="table-buy">
                    <a href="#" class="pricing-action">Login</a>
                </div>
            </div>
            <div class="pricing-table recommended">
                <h3 class="pricing-title">EMPLOYEE</h3>
                <ul class="table-list">
                    <li>Conduct Test</li>
                </ul>
                <div class="table-buy">
                    <a href="#" class="pricing-action">Login</a>
                </div>
            </div>
            <div class="pricing-table">
                <h3 class="pricing-title">STUDENT</h3>
                <ul class="table-list">
                    <li>View Attendance</li>
                </ul>
                <div class="table-buy">
                    <a href="#" class="pricing-action">Login</a>
                </div>
            </div>
            <div class="pricing-table recommended">
                <h3 class="pricing-title">GUARDIAN</h3>
                <ul class="table-list">
                    <li>Visit Student</li>
                </ul>
                <div class="table-buy">
                    <a href="#" class="pricing-action">Login</a>
                </div>
            </div>
        </div>
        <div class="flex-grid">
            <div>
                <h2>Contact Us</h2>
                Some Content
            </div>
        </div>
    </main>
</div>

<router-outlet></router-outlet>