<mat-toolbar color="primary">
    <span>Card view demo</span>
    <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
      <span *ngIf="gridColumns === 4">Three Columns</span>
      <span *ngIf="gridColumns === 3">Four Columns</span>
    </button>
</mat-toolbar>
<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let card of cards">
        <app-feature-card [feature]="card"> </app-feature-card>
    </div>
</div>