<div class="container">
    <div class="flex-grid">
        <div class="pricing-table">
            <h3 class="pricing-title">ADMIN</h3>
            <ul class="table-list">
                <li>View features</li>
            </ul>
            <div class="table-buy">
                <a routerLink="/login" routerLinkActive class="pricing-action">Login</a>
            </div>
        </div>
        <div class="pricing-table recommended">
            <h3 class="pricing-title">EMPLOYEE</h3>
            <ul class="table-list">
                <li>Conduct Test</li>
            </ul>
            <div class="table-buy">
                <a class="pricing-action">Login</a>
            </div>
        </div>
        <div class="pricing-table">
            <h3 class="pricing-title">STUDENT</h3>
            <ul class="table-list">
                <li>View Attendance</li>
            </ul>
            <div class="table-buy">
                <a class="pricing-action">Login</a>
            </div>
        </div>
        <div class="pricing-table recommended">
            <h3 class="pricing-title">GUARDIAN</h3>
            <ul class="table-list">
                <li>Visit Student</li>
            </ul>
            <div class="table-buy">
                <a class="pricing-action">Login</a>
            </div>
        </div>
    </div>
</div>
<div class="flex-grid">
    <div>
        <h2>Contact Us</h2>
        Some Content
    </div>
</div>